@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-shape-divider-top-1656205067 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1656205067 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 144px;
}

.custom-shape-divider-top-1656205067 .shape-fill {
    fill: #3A82F5;
}

.custom-shape-divider-top-1656206278 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1656206278 svg {
    position: relative;
    display: block;
    width: calc(120% + 1.3px);
    height: 28px;
}

.custom-shape-divider-top-1656206278 .shape-fill {
    fill: #FDBA74;
}